body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color:#1C1C1C;
}
.container{
    width: 930px;
    margin: 0 auto;
}
/*BARRA DE NAVEGAÇÃO*/
.header{
    background-color: white;
    width: 100%;
    height: 68px;
    margin-bottom: 3px;
    padding: 0px;
}
.logo{
    float: left;
}
.logo img{
    height: 50px;
    border-radius: 5px;
}
.nav{
    float: right;
    font-family: cursive;
} 
.nav ul li{
    display: inline-block;
    margin-right: 10px;
}
.nav span{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 25px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
}
.nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*FIM BARRA DE NAVEGAÇÃO*/
.img_fundo{
    background-image: url(../img/piano_pv.png);
    background-size: cover;
    width: 100%;
    height: 457px;
    padding-top: 15px;
    background-color: white;
}
/* MENU */
.menu{
    display: inline-block;
    color: white;
    text-shadow: black 0.1em 0.1em 0.08em;
    height: 70px;
    width: 100%;
    font-family: cursive;
    font-size: 25px;
}
.menu button{
    cursor: pointer;
    font-family: cursive;
    font-size: 20px;
    height: 42px;
    width: 200px;
    margin: 10px 15px;
    color: white;
    border-color: white;
    border-radius: 25px;
}
.menu .btn_teclas_aparecer {
    background-color:  #191970;
}
.menu .btn_teclas_esconder {
    background-color:  #191970;
    display: none;
}
.menu .btn_tocar {
    background-color:  #483D8B;
    margin: 0px;
}

/* FIM MENU */
/* APP */

.app{
    display: inline-block;
    background-color: #000000b0;
    font-family: cursive;
    color: white;
    min-width: 500px;
    height: auto;  
    margin: 15px;
    padding: 10px 20px;
    border-radius: 10px;
}
.app p{
    margin: 5px;
    font-size: 17px;
}
/* FIM APP */
/* PIANO VIRTUAL */
.piano_virtual{
    display: block;
}
.todas_teclas {
    display: flex;
    cursor: pointer;
}
.visual{
    display: none;
    font-weight: bold;
    font-family: cursive;
    font-size: 16.5px;
    cursor: pointer;
}
.tecla {
    border-radius: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.branca{
    width: 37.5px;
    height: 150px;
    background-color: white;
    color: black;
    padding-top: 70px;
    cursor: pointer;
}
.preta{
    background-color: black;
    width: 22.5px;
    height: 90px;
    margin: 0px -11.25px;
    z-index: 2;
    color: white;
    cursor: pointer;
}
/* FIM PIANO VIRTUAL */
/* FRASE */
.frase{
    display: inline-block;
    font-family: cursive;
    background-color: rgba(128, 128, 128, 0.671);
    font-size: 15px;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 10px;
    width: 95%;
}
.frase p{
    margin: 0;
}
/* FIM FRASE */
/* CREDITOS */
.creditos{
    font-family: cursive;
    font-size: 15px;
    background-color: #000000;
    color: white;
    padding: 5px;
}
/* FIM CREDITOS */
